In [2]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [26]:
data = ['Fahad', 'Mohammed', 'Alotaibi']
indexes = [1, 2, 3]

series = pd.Series(data, index=indexes, name='Names')
series

1       Fahad
2    Mohammed
3    Alotaibi
Name: Names, dtype: object

## Q2: Change indexes to 11, 12, 13.

In [27]:
indexes = [11, 12, 13]
series = pd.Series(data, index=indexes, name='Names')
series

11       Fahad
12    Mohammed
13    Alotaibi
Name: Names, dtype: object

## Q3: Retrieve First and second elements.

In [28]:
first_element = series[11]
second_element = series[12]

print("First element:", first_element)
print("Second element:", second_element)

First element: Fahad
Second element: Mohammed

## Q4: Add duplicate elements, then remove the duplication.

In [29]:
duplicates = pd.Series(['Fahad', 'Mohammed'], index=[4, 5])
series = series.append(duplicates)


series

/var/folders/t2/lwg348s91755jjv__0b81p0c0000gn/T/ipykernel_54354/3779387802.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  series = series.append(duplicates)

11       Fahad
12    Mohammed
13    Alotaibi
4        Fahad
5     Mohammed
dtype: object

In [30]:
# To remove duplicates
series = series.drop_duplicates()
series

11       Fahad
12    Mohammed
13    Alotaibi
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [31]:
 import pandas as pd

data = {
    'ID': [1, 2, 3],
    'Name': ['Fahad', 'Mohammed', 'Alotaibi',],
    'GPA': [3.5, 4.0, 3.2]
}

df = pd.DataFrame(data)
print(df)

   ID      Name  GPA
0   1     Fahad  3.5
1   2  Mohammed  4.0
2   3  Alotaibi  3.2

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [35]:
df = pd.read_csv('/Users/fahadalotaibi/Desktop/Lectures/Lectures/6-pandas/educ_figdp_1_Data.csv')

df.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.